<app-inicioadmin></app-inicioadmin>

<div [hidden]="route.children.length !== 0">

    <div fxLayout="column" class="p-2">
        <div class="p-2"> 

            <mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="nombre">
                    <mat-header-cell *matHeaderCellDef mat-sort-header><p><span class="glyphicon glyphicon-user"></span>  Nombre</p>  </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="apellido">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> <p><span class="glyphicon glyphicon-user"></span>  Apellido</p> </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.apellido}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="correo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header><p> <span class="glyphicon glyphicon-envelope"></span> Correo </p></mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.correo}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="telefono">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> <p> <span class="glyphicon glyphicon-earphone"></span> Telefono </p></mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.telefono}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="documento">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> <p> <span class="glyphicon glyphicon-credit-card"></span>  Documento</p> </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.documento}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="imagenperfil">
                    <mat-header-cell *matHeaderCellDef mat-sort-header><p> <span class="glyphicon glyphicon-picture"></span> Imagen Perfil</p></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <img class="star" src="http://52.67.179.68:8081{{element.imagenperfil.substr(1,60)}}"width="20" height="20" />  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="hojavida">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> <p> <span class="glyphicon glyphicon-file"></span> Hoja de vida </p> </mat-header-cell>
                    <mat-cell *matCellDef="let element"> 
                        <a href= "http://52.67.179.68/Hojas_de_vida/Hoja%20de%20vida1.pdf">Hoja de Vida</a>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="tipovehiculo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header><p> <span class="glyphicon glyphicon-barcode"></span> Tipo Vehiculo </p> </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.tipovehiculo}} </mat-cell>
                </ng-container>


                <ng-container matColumnDef="acciones">
                    <mat-header-cell *matHeaderCellDef><p><span class="glyphicon glyphicon-cog"></span> Acciones </p></mat-header-cell>
                    <mat-cell *matCellDef="let element">


                          


                        <button type="button" class="btn btn-danger " (click)="abrirDialogo(element.id, element.hojavida)" ><span class="glyphicon glyphicon-remove"></span> Rechazar</button>
            
                      

                    </mat-cell>
                </ng-container>
               
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              
            </mat-table>
            
            <mat-paginator [pageSizeOptions]="[5,10,25,100]" [pageSize]="5" showFirstLastButtons length="3"></mat-paginator> 
              
        </div>
    </div>





</div>

