<!-- Compiled and minified Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
<!-- Minified JS library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Compiled and minified Bootstrap JavaScript -->
<script type="text/javascript" src="jquery-3.3.1.js"></script>

<div  class="progress" >
    <div class="progress-value" ></div>
    </div>
<div>
    <app-inicio></app-inicio>
    </div>
    <!--Main layout-->
    
    <br>
    <br>
    <main>
        <div class="content py-5  bg-light">
            <div class="container">
                <div class="row">
                     <div class="col-md-8 offset-md-2">
                                <span class="anchor" id="formUserEdit"></span>
                             
                               <!-- form user info -->
                                <div class="card card-outline-secondary">
                                    <div class="card-header">
                                        <h3 class="mb-0"><span class="glyphicon glyphicon-user"></span><b>     Información Del Usuario</b></h3>
                                       
                                    </div>
                                    <div class="card-body">
                                        <form class="form" role="form" autocomplete="off">
                                            <div class="form-group row">
                                                <label class="col-lg-3 col-form-label form-control-label">Nombre</label>
                                                <div class="col-lg-9">
                                                    <input class="form-control item" type="text" id="nombre" value={{usuario.nombre}} minlength="5" maxlength="12" required>
                                                    <label><span class="ref"></span></label> 
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-3 col-form-label form-control-label">Apellido</label>
                                                <div class="col-lg-9">
                                                    <input class="form-control" type="text"  id="apellido" value={{usuario.apellido}} minlength="5" maxlength="12">
                                                    <label><span class="ref1"></span></label> 
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-3 col-form-label form-control-label">Correo</label>
                                                <div class="col-lg-9">
                                                    <input  class="form-control" type="email"  id="email" value={{usuario.correo}} minlength="3">
                                                    <label><span class="ref2"></span></label> 
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-3 col-form-label form-control-label">Documento</label>
                                                <div class="col-lg-9">
                                                    <input class="form-control" type="text" id="documento" value={{usuario.documento}} size="9" maxlength="9">
                                                    <label><span class="ref3"></span></label> 
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-3 col-form-label form-control-label">Telefono</label>
                                                <div class="col-lg-9">
                                                    <input class="form-control" type="number" id="telefono" value={{usuario.telefono}} size="9" maxlength="9">
                                                    <label><span class="ref4"></span></label> 
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-3 col-form-label form-control-label">Password</label>
                                                <div class="col-lg-9">
                                                    <input class="form-control" type="password" id="password" value={{usuario.contrasenia}} minlength="8" maxlength="12">
                                                    <label><span class="ref5"></span></label> 
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-lg-3 col-form-label form-control-label"></label>
                                                <div class="col-lg-9">
                                                    <!--<input type="reset" class="btn btn-secondary" (click)="cancelarCambios()" value="Cancel">-->
                                                    <input type="button" class="btn btn-primary"  (click)="guardarCambios()" value="Save Changes">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- /form user info -->
            
                            </div>
                </div>
                
            </div>
               
            </div>
        
           
    </main>