<!-- Compiled and minified Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
<!-- Minified JS library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Compiled and minified Bootstrap JavaScript -->
<script type="text/javascript" src="jquery-3.3.1.js"></script>

<body>
  
  <div  class="progress" >
    <div class="progress-value" ></div>
    
  </div>
  <div>
      <app-inicio></app-inicio>
   </div>
     
   <div class="panel panel-default">
    <div class="panel-body">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="https://i.ibb.co/3yyZYgY/SUPER-FAST-1.png" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.6435-9/107320164_181177853616971_2497139145030231823_n.jpg?_nc_cat=101&ccb=1-3&_nc_sid=973b4a&_nc_ohc=uL-JgWUjyp0AX8ZhpvN&_nc_ht=scontent-bog1-1.xx&oh=0ad625ba6a63696961ce11531ee80c1c&oe=60DD6826" width="60" height="350"alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://i.postimg.cc/NfWgks4c/SUPER-FAST.png" alt="Third slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.6435-9/104328761_135930234808400_2183797032173556172_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=973b4a&_nc_ohc=ufTw4hYB2r0AX8GsmWr&_nc_ht=scontent-bog1-1.xx&oh=23c6e29c7994f890de5ac60705a6b857&oe=60DE398D" width="60" height="350" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div>
  <div class="col-md-3 mx-auto my-5"></div>
  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <mat-label>Valor minimo</mat-label>
      <input matInput>
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <mat-label>Valor Maximo</mat-label>
      <input matInput>
    </mat-form-field></td>
    <td><a class="btn btn-primary btn-sm" routerLink="/productos">Filtro Valores</a></td>
    <td>
      <div col-md-5 mx-auto my-7>
      <a class="btn btn-primary btn-sm"  routerLink="/carrito"><mat-icon matSuffix>add_shopping_cart</mat-icon>{{this.numPedido}}</a>
      </div>
    </td>
  </tr></table> 

  
</div>

</div>
  <div class="container">
  <div class="row">
    
    <div class="col-md-3 mx-auto my-5" *ngFor="let card of datos">
      <div class="panel panel-default">
        <div class="panel-body">
      
         
          <div class="card " style="max-width: 560px;">
            <h2 class="list-group-item active">{{card.nombre_aliado}}</h2>
       <img class="card-img-top" src="http://52.67.179.68:8081/{{card.imagen_producto1.substr(2,60)}}"width="90" height="150"/>
       
        <span class="hint-star star">
          <i class="fa fa-star yellow-color" aria-hidden="true"></i>
          <i class="fa fa-star yellow-color" aria-hidden="true"></i>
          <i class="fa fa-star yellow-color" aria-hidden="true"></i>
          <i class="fa fa-star-half-o yellow-color" aria-hidden="true"></i>
          <i class="fa fa-star-o yellow-color" aria-hidden="true"></i>
        </span> 
     
        
          --><div class="card-body">
          
          <h2 class="list-group-item active">{{card.nombre_producto}}</h2>
            
          <li class="list-group-item  "><span class="glyphicon glyphicon-list-alt"></span>  <b>Descripción:</b> {{card.descripcion_producto}}</li> 
          
            <mat-form-field class="example-full-width">
              <mat-label>Especificaciones del Producto</mat-label>
              <textarea #inputDescripcion autofocus matInput type="text" placeholder="Especificación" class="example-right-align" (keyup)="descripcionIngresada(inputDescripcion.value)" id="descripcion"></textarea>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Cantidad del producto</mat-label>
              <input #inputCantidad autofocus matInput type="number" placeholder="cantidad" class="example-right-align" (keyup)="cantidaIngresada(inputCantidad.value)" id="cantidad" min="1" pattern="^[0-9]+">              
              <mat-icon matSuffix>paid</mat-icon>
              <mat-hint>Cantidad</mat-hint>
            </mat-form-field>
          
          <p class="card-text"></p>
          <p class="card-text"><small class="text-muted"></small></p>
          <p class="card-text"><small class="text-muted"></small></p>
          <br>
          
          <button (click)="addProductos(card)" class="btn btn-primary btn-sm mr-1 mb-2" >
            <!-- 		the Price -->
              <span class="price"><b>{{card.precio_producto  }}$</b></span>
            <!-- 		shopping cart icon-->
              <span class="shopping-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
            <!-- 		Buy Now / ADD to Cart-->
              <span class="buy"><b>Add To Cart</b></span>
            </button>
 
        </div>
      </div>
      
     </div>
     </div>   
    
    </div>
  </div>
</div>


</body>