<div>
<app-inicio></app-inicio>
</div>
<!--Main layout-->

<br>
<br>
<main>
  <div class="container-fluid">
    
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" borde="1" style="margin: 0 auto;">

 

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
    
      <ng-container matColumnDef="nombre_producto">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre_producto}} </td>
      </ng-container>
    
     
      <ng-container matColumnDef="descripcion_producto">
        <th mat-header-cell *matHeaderCellDef> Descripcion </th>
        <td mat-cell *matCellDef="let element"> {{element.descripcion_producto}} </td>
      </ng-container>
    
      
      <ng-container matColumnDef="precio_producto">
        <th mat-header-cell *matHeaderCellDef> Precio </th>
        <td mat-cell *matCellDef="let element"> {{element.precio_producto}} </td>
      </ng-container>
  
        <ng-container matColumnDef="estado_producto">
          <th mat-header-cell *matHeaderCellDef> estado </th>
          <td mat-cell *matCellDef="let element"> {{element.estado_producto}} </td>
        </ng-container>
        <ng-container matColumnDef="id_aliado">
          <th mat-header-cell *matHeaderCellDef> Id aliado </th>
          <td mat-cell *matCellDef="let element"> {{element.id_aliado}} </td>
        </ng-container>
        <ng-container matColumnDef="nombre_aliado">
          <th mat-header-cell *matHeaderCellDef> Nombre aliado </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre_aliado}} </td>
        </ng-container>
       
        <ng-container matColumnDef="cantidad">
          <th mat-header-cell *matHeaderCellDef> Cantidad </th>
          <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
        </ng-container>
      
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</main>


