<div>
    <app-inicio></app-inicio>
    </div>
<body>
  <div>
   <h1>Productos Disponibles </h1>
  </div>

  
  <div class="container">
  <div class="row">
    <div class="col-md-3 mx-auto my-5" *ngFor="let card of datos">
       
        <mdb-card-body>
          <mdb-card-title>
            <h4>{{card.id}}</h4>
            <mdb-card-img [src]="card.image" alt="Card image cap">
            </mdb-card-img> 
          </mdb-card-title>

          <mdb-card-text>
            {{card.nombre_producto}}
          </mdb-card-text>
          <div>
            <mdb-card-text>
              {{card.descripcion_producto}}
            </mdb-card-text>
          </div>
          <div>
            <mdb-card-text>
              {{card.precio_producto}}
            </mdb-card-text>
          </div>
          <div>
            <mdb-card-text>
              {{card.cantidad}}
            </mdb-card-text>
          </div>

          <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
        </mdb-card-body>
    
    </div>
  </div>
</div>










</body>