<!-- Compiled and minified Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
<!-- Minified JS library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Compiled and minified Bootstrap JavaScript -->
<script type="text/javascript" src="jquery-3.3.1.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<div  class="progress" >
  <div class="progress-value" ></div>
  
</div>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar bg-primary">
  
  <p><img src="favicon.ico"width="45" height="45"></p>
    <a class="navbar-brand" href="#"><b>SuperFast  </b><span class="glyphicon glyphicon-user"></span>   Administrador</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      
        <li class="nav-item">
          <a class="btn btn-primary" routerLink="/perfil_admin"><span class="glyphicon glyphicon-user"></span> Perfil</a>
        </li>
        <li class="btn-group dropright">
          <a class="btn btn-primary dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"><span class="glyphicon glyphicon-book"></span> Solicitudes
          </a>
          <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
            <p>
              <a class="dropdown-item" routerLink="/aliados"class="icono-placeholder">  Aliados</a>
            </p><p>
              <a class="dropdown-item" routerLink="/domiciliarios"class="icono-placeholder">  Domiciliarios</a>
            </p><p>
              <a class="dropdown-item" routerLink="/aliadosaceptados"class="icono-placeholder">  Aliados Aceptados</a>
            </p><p>
              <a class="dropdown-item" routerLink="/aliadosrechazados"class="icono-placeholder">  Aliados Rechazados</a>
            </p><p>
              <a class="dropdown-item" routerLink="/domiciliariosaceptados"class="icono-placeholder">Domiciliarios Aceptados</a>
            </p><p>
               <a class="dropdown-item" routerLink="/domiciliariosrechazados"class="icono-placeholder">Domiciliarios Rechazados</a>
            </p>
            
           
          </div>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary" ><span class="glyphicon glyphicon-list"></span> Reporte de ventas</a>
        </li>
        
      </ul>
      
    </div>
    
    <div class="collapse navbar-collapse" id="account">
      <ul class="navbar-nav ml-auto">
      
          <li class="btn btn-primary btn-xs"><a class="nav-link" (click)="cerrarSesion()" ><span class="glyphicon glyphicon-remove-sign"></span> Cerrar Sesion</a></li>
      </ul>
  </div>
   
  </nav>
  
  <!--Main layout-->
  <main>
  
    <div class="container-fluid">
  
     <router-outlet></router-outlet>
    </div>
  
  </main>