.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
    
    .example-sidenav-container {    
      flex: 1;
    }
    
    .example-spacer {
      flex: 1 1 auto;
    }
    
    .progress {
      background: rgba(255,255,255,0.1);
      justify-content: flex-start;
      border-radius: 100px;
      align-items: center;
      position: relative;
      padding: 0 2px;
      display: flex;
      height: 10px;
      width: 1310px;
      
      
      }
      
      .progress-value {
      
      animation: slide 1s 1 linear forwards;
      border-radius: 100px;
      background: rgba(8, 49, 235, 0.932);
      height: 30px;
      width: 100%;
      
      
      
      }
      
      @keyframes slide {
      0% {
       left: 0%;
      opacity: 1;
      }
      99% {
        left: 99%;
        opacity: 1;
      }
      100% {
        left: 100%;
        opacity: 0;
        display: none;
      }
      }
      
      @-webkit-keyframes slide {
      0% {
        left: 0%;
      opacity: 1;
      }
      99% {
        left: 99%;
        opacity: 1;
      }
      100% {
        left: 100%;
        opacity: 0;
        display: none;
      }
      }