.loader-container{
  position: fixed;
  width: 100%;
  z-index: 100;
}
.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
  
  .example-sidenav-container {    
    flex: 1;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
 
  * {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #e4dfdf;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid rgb(49, 47, 47);
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  .icono-placeholder {
    padding: 0.2em 0.3em;
    border-radius: 0.6em;
    border: 1px   solid #0b259b;
    text-align: left;
    box-shadow: 0 2px 3px rgba(0 0 0 / 0.15);
    width: 120;
    font-family: "Font Awesome 5 Free"; font-weight: 900;
  }