<app-inicioadmin></app-inicioadmin>
 
<div [hidden]="route.children.length !== 0">

    <div fxLayout="column" class="p-2">
        <div class="p-2"> 
            
           

            <mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="nombre">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="apellido">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.apellido}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="correo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Correo </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.correo}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="telefono">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Telefono </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.telefono}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="documento">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Documento </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.documento}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="imagenperfil">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Imagen Perfil </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.imagenperfil}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="hojavida">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Hoja de vida </mat-header-cell>
                    <mat-cell *matCellDef="let element"> 
                        <a href={{element.hojavida}}>Hoja de Vida</a>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="tipovehiculo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Vehiculo </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.tipovehiculo}} </mat-cell>
                </ng-container>


                <ng-container matColumnDef="acciones">
                    <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button type="button" class="btn btn-success" (click)="Aceptar(element.id, element.hojavida)">Aceptar</button>
                        <button type="button" class="btn btn-danger" (click)="abrirDialogo(element.id, element.hojavida)">Rechazar</button>
                      
                    </mat-cell>
                </ng-container>
               
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            
              
            </mat-table>
            <mat-paginator [pageSizeOptions]="[5,10,25,100]" [pageSize]="5" showFirstLastButtons length="2"></mat-paginator> 
              
        </div>
    </div>





</div>