<app-inicioaliado></app-inicioaliado>
<br>
<main>
    <div class="content py-5  bg-light">
        <div class="container">
            <div class="row">
                 <div class="col-md-8 offset-md-2">
                            <span class="anchor" id="formUserEdit"></span>
                         
                           <!-- form user info -->
                            <div class="card card-outline-secondary">
                                <div class="card-header">
                                    <h3 class="mb-0">Formulario Producto</h3>
                                   
                                </div>
                                <div class="card-body">
                                    <form class="form" role="form" autocomplete="off">
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label form-control-label">Nombre</label>
                                            <div class="col-lg-9">
                                                <input class="form-control" type="text" id="nombre_producto" value="">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label form-control-label">Descripcion</label>
                                            <div class="col-lg-9">
                                                <input class="form-control" type="text"  id="descripcion_producto" >
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label form-control-label">Precio</label>
                                            <div class="col-lg-9">
                                                <input class="form-control" type="number"  id="precio" value="">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label form-control-label">Imagen</label>
                                            <input #file type="file" accept='image/*' (change)="preview($event)" />
                                            <img [src]="imgURL" height="200" *ngIf="imgURL">
                                            
                                        </div>
                                      
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label form-control-label"></label>
                                            <div class="col-lg-9">
                                                <!--<input type="reset" class="btn btn-secondary" (click)="cancelarCambios()" value="Cancel">-->
                                                <input type="reset"  class="btn btn-primary"  (click)="agregarProducto()" value="Agregar Producto">
                                            </div>
                                        </div>

                                        
                                    </form>
                                </div>
                            </div>
                            
                        </div>
            </div>
            
        </div>
           
        </div>
    
       
</main>
<!-- codigo para visualizar la imagen
        <div *ngIf="previsualizacion">
            <img width="100px" [src]="previsualizacion" alt="">
        </div>-->