<body> 
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
				<style>
				.texto {
					font-family: Sans-serif;
				}
				</style> 
				<h1><b>Super Fast</b></h1>
				
				<p><img src="favicon.ico"width="70" height="70"></p>
			</div>

			<div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="Correo" [(ngModel)]="correo" >
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="Contraseña" [(ngModel)]="contrasenia">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>

				<a class="btn btn-primary btn-large" (click)="navegarHaciaIniciousuario()">Iniciar Sesión</a>
				<a class="login-link" href="#">Olvido su contraseña?</a>
                <a class="login-link" routerLink="/registrar">Registrarse</a>
			</div>
		</div>
	</div>
</body>