<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div  class="progress" >
    <div class="progress-value" ></div>
    
  </div>

<body>

	
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1 class="app-title2"><b>Registro</b></h1>
				<p><img src="favicon.ico"width="60" height="60"></p>
			</div>

			<div class="login-form">
                <div class="form-group row">
                    <div class="col-lg-9">
                        <input placeholder=" Nombre Comercial" class="icono-placeholder" type="text" id="signin-name" value={{usuario.nombre}} required minlength="5" maxlength="12"  >
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-9">
                        <input placeholder=" NIT" class="icono-placeholder" type="text"  id="signin-document" value={{usuario.documento}} required minlength="10" size="10" maxlength="10" >
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-9">
                        <input placeholder=" Actividad Comercial" class="icono-placeholder" type="text"  id="signin-actComercial" value={{usuario.actividad_comercial}} required minlength="5" maxlength="12">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-9">
                        <input placeholder=" RUT" class="icono-placeholder" type="file" name="userfile" accept="application/pdf"  id="signin-rut" value={{usuario.rut}} required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-9">
                        <input placeholder=" Correo" class="icono-placeholder" type="email"  id="signin-email" value={{usuario.correo}} required>
                        
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-9">
                        <input placeholder=" Dirección" class="icono-placeholder" type="text" id="signin-adress" value={{usuario.direccion}} required minlength="3" maxlength="12">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-9">
                        <input placeholder=" Telefono" class="icono-placeholder" type="text" id="signin-number" value={{usuario.telefono}} required size="10" minlength="10" maxlength="10">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-9">
                        <input placeholder=" Contraseña" class="icono-placeholder" type="password" id="signin-pass" value={{usuario.contrasenia}} required minlength="8" maxlength="12">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-9">
                        <input #pass2 autofocus placeholder=" Confirmar Contraseña" class="icono-placeholder" type="password" id="password" (keyup)="validacioncontrasenia(pass2.value) " required minlength="8" maxlength="12">
                    </div>
                </div>
				
					<label class="container" >
					<input type="checkbox" checked="checked">
					<span class="checkmark "></span><a href="https://drive.google.com/file/d/1KG5suhVC_CqjwT75JYpM4BlMEq3ulbee/view?usp=sharing" target="_blank">Acepto términos y condiciones</a>
				  </label>
				
                <div class="form-group row">
                    <div class="col-lg-9">
                        <!--<input type="reset" class="btn btn-secondary" (click)="cancelarCambios()" value="Cancel">-->
                        <input type="button" class="btn btn-primary" class="icono-placeholder" (click)="guardarCambios()" value="                      Registrase">
                    </div>
                </div>
				<a class="login-link" routerLink="/login">¿Ya tienes una cuenta? Ingresa aquí</a>
				
            
			</div>
		</div>
	</div>

</body>