.progress {
    background: rgba(255,255,255,0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 2px;
    display: flex;
    height: 10px;
    width: 1310px;
    
    
    }
    
    .progress-value {
    
    animation: slide 1s 1 linear forwards;
    border-radius: 100px;
    background: rgba(8, 49, 235, 0.932);
    height: 30px;
    width: 100%;
    
    
    
    }
    
    @keyframes slide {
    0% {
     left: 0%;
    opacity: 1;
    }
    99% {
      left: 99%;
      opacity: 1;
    }
    100% {
      left: 100%;
      opacity: 0;
      display: none;
    }
    }
    
    @-webkit-keyframes slide {
    0% {
      left: 0%;
    opacity: 1;
    }
    99% {
      left: 99%;
      opacity: 1;
    }
    100% {
      left: 100%;
      opacity: 0;
      display: none;
    }
    }

    table {
      width: 100%;
    }
    
    tr.example-detail-row {
      height: 0;
    }
    
    tr.example-element-row:not(.example-expanded-row):hover {
      background: whitesmoke;
    }
    
    tr.example-element-row:not(.example-expanded-row):active {
      background: #efefef;
    }
    
    .example-element-row td {
      border-bottom-width: 0;
    }
    
    .example-element-detail {
      overflow: hidden;
      display: flex;
    }
    
    .example-element-diagram {
      min-width: 80px;
      border: 2px solid black;
      padding: 8px;
      font-weight: lighter;
      margin: 8px 0;
      height: 104px;
    }
    
    .example-element-symbol {
      font-weight: bold;
      font-size: 40px;
      line-height: normal;
    }
    
    .example-element-description {
      padding: 16px;
    }
    
    .example-element-description-attribution {
      opacity: 1;
    }