<!-- Compiled and minified Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
<!-- Minified JS library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Compiled and minified Bootstrap JavaScript -->
<script type="text/javascript" src="jquery-3.3.1.js"></script>

<body>
  
  <div  class="progress" >
    <div class="progress-value" ></div>
    
  </div>
  <div>
      <app-inicio>
      </app-inicio>
      
   </div>
   </body>