<app-inicioaliado></app-inicioaliado>
<div [hidden]="route.children.length !== 0">

    <div fxLayout="column" class="p-2">
        <div class="p-2"> 
            
           

            <mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="id_pedido">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Pedido N </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.id_pedido}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="fecha">
                    <mat-header-cell *matHeaderCellDef mat-sort-header><p><span class="glyphicon glyphicon-calendar"></span> Fecha</p> </mat-header-cell>
                    <mat-cell *matCellDef="let element"> 
                        <span>{{element.fecha | date:'yyyy-MM-dd '}}</span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="comentario_cliente">
                    <mat-header-cell *matHeaderCellDef mat-sort-header><p> <span class="glyphicon glyphicon-comment"></span> Comentario Cliente </p></mat-header-cell> 
                    <mat-cell *matCellDef="let element"> {{element.comentario_cliente}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="comentario_aliado">
                    <mat-header-cell *matHeaderCellDef mat-sort-header><p> <span class="glyphicon glyphicon-comment"></span> Comentario Aliado </p></mat-header-cell> 
                    <mat-cell *matCellDef="let element"> 
                        <div class="form-outline">
                            <input class="form-control" type="text"  id="comentario" value={{element.comentario_aliado}}>

                         <!--   <textarea class="form-control" id="textArea" [value]="element.comentario_aliado" rows="2" ></textarea>-->
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="btn btn-outline-secondary" type="button" (click)="enviarComentario(element.id_pedido)" value="Enviar Comentario">
                          </div>
                       </mat-cell>
                </ng-container>

                
            

                <ng-container matColumnDef="compras">
                    <mat-header-cell *matHeaderCellDef mat-sort-header><p> <span class="glyphicon glyphicon-apple"></span> Pedido </p></mat-header-cell>
                    <mat-cell *matCellDef="let element"> 
                        
                        <a class="btn btn-primary btn-sm" (click)="verDetalle(element.compras)" routerLink="/dtl_alipedidos"><span class="glyphicon glyphicon-tags"></span> Ver detalle del pedido</a>


                    </mat-cell>
                </ng-container>
               
  
               
                <ng-container matColumnDef="nombre_estado_ped">
                    <mat-header-cell *matHeaderCellDef mat-sort-header><p> <span class="glyphicon glyphicon-info-sign"></span> Estado del Pedido</p></mat-header-cell> 
                    <mat-cell *matCellDef="let element"> {{element.nombre_estado_ped}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="cambiar">
                    <mat-header-cell *matHeaderCellDef>Cambiar Estado</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        
                        <mat-form-field appearance="fill">
                            <mat-label>  Seleccione </mat-label>
                            <mat-select [(value)]="selected">
                                <mat-option (click)="cambiarEstado(1,element.id_pedido,element.aliado_id,element.estado_pedido)" value="pendiente de procesar"> Pendiente de procesar</mat-option>
                                <mat-option (click)="cambiarEstado(2,element.id_pedido,element.aliado_id,element.estado_pedido)" value="aceptado">Aceptado</mat-option>
                                <mat-option (click)="cambiarEstado(3,element.id_pedido,element.aliado_id,element.estado_pedido)" value="rechazado">En camino</mat-option>
                                <mat-option (click)="cambiarEstado(4,element.id_pedido,element.aliado_id,element.estado_pedido)" value="en proceso">Entregado</mat-option>
                                <mat-option (click)="cambiarEstado(5,element.id_pedido,element.aliado_id,element.estado_pedido)" value="terminado">Rechazado</mat-option>
                            </mat-select>
                          </mat-form-field>
                          
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
               
            </mat-table>

            <mat-paginator [pageSizeOptions]="[5,10,25,100]" [pageSize]="5" showFirstLastButtons length="3"></mat-paginator> 
              
        </div>
    </div>